body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;  
    margin: 0;
}

.container-slide {
    display: flex;
    justify-content: space-between;  
    background-color: aqua;
    border-radius: 10px;
    width: 50vw;
    height: 60vh;
    overflow: hidden;
}

#container-itens {
    position: absolute;
    display: flex;
    width: 50vw;
    height: 60vh;
    overflow: hidden;
}

.item {
    width: 50vw;
    height: 60vh;
    transition: all 1s;
}

.item:first-child {
    margin-left: -100%;
}

.item img {
    width: 50vw;
    height: 60vh;
    border-radius: 10px;
}

.action-button {
    display: flex;
    align-items: center;
    justify-content: center;
    font: bold 20px sans-serif; 
    width: 4vw;
    height: 60vh;
    user-select: none;
    z-index: 1;
}

.action-button:hover {    
    background-color: rgba(0, 0, 0, 0.308);
    color: white;
    font-size: 23px;
    cursor: pointer;
}