body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;  
    margin: 0;
}

.container-slide {
    display: flex;
    justify-content: space-between;
    background-color: aqua;
    width: 50vw;
    height: 50vh;
}

.container-itens {
    
}

.action-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(208, 255, 0, 0.082);
    width: 4vw;
    height: 50vh;
    z-index: 1;
}